body {
  margin: 0 20%;
  font-family: sans-serif;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: none;
}
a:active {
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 640px) {
  body {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0 10%;
  }
}
